.container {
    width: 100%;
    height: 100%;
}

.navigation {
    font-family: 'Josefin Sans', 'Merriweather', Arial, san-serif;
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    margin: 0;
}

.navigation li {
    list-style-type: none;
    font-size: 20px;
}

@media all and (min-width: 768px) {
    .navigation li a {
        padding: 0 15px;
    }
}